html, body{
  height: 100%;
}

body {
  background-color: #eee;
}

.decisionCreation {
  padding-top: 0.5em;
}

.row {
  padding: 1em;
}

.form-control-label:after {
  content:"*";
  color:red;
}

.pickers {
  display: inline !important;
}

.decisions-composer textarea {
  resize: none;
}

.private-data {
  margin-top:1.8em;
}

.badge {
  font-size:0.9em;
}

.legislationConsider {
  display: inline-block;
}

.dvgColor {
  color: #363636;
}

.paddingRecipients {
  padding-top: 1em;
}

.noPadding {
  padding: 0em !important;
}

.expensesTable td, .expensesTable th {
   text-align: center;
}

.balanceAccountPadding {
  padding-top: 6em;
}

#is_balance_account_approval_for_org, #is_budget_approval_for_org, .contract_is_co_funded{
  display: block !important;
  margin: 0 auto !important;
}

.expensesWithKae td, .expensesDonation td, .expensesExpenditureApproval td {
  vertical-align: middle !important;
}

.expenses-table th {
  text-align: center;
  vertical-align: middle;
}

.expenses-table td {
  text-align: center;
  vertical-align: middle;
}

.expenses-table table {
  margin: 0 auto;
  margin-top: 1em;
}

.afmTypeContainer {
  overflow : visible !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.is-fullheight {
    min-height: 100vh;
    background-color: white;
    border: 10px solid #00d1b2;
}

.recipientsLabel {
  font-size: 0.9em;
}