html, body{
  height: 100%;
}

body {
  background-color: #eee;
}

.decisionCreation {
  padding-bottom: 0.5em;
}

.panel {
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 2px;
}

.row {
  padding: 1em;
}

.form-control-label:after {
  content:"*";
  color:red;
}

.pickers {
  display: inline !important;
}

.decisions-composer textarea {
  resize: none;
}

.private-data {
  margin-top:1.8em;
}

.badge {
  font-size:0.9em;
}

.legislationConsider {
  display: inline-block;
}

.dvgColor {
  color: #237885;
}

.paddingRecipients {
  padding-top: 1em;
}

.noPadding {
  padding: 0em !important;
}