html, body, .container-fluid {
  height: 100%;
}

.container-fluid {
  margin-top: 1em;
}

body {
  background-color: #eee;
}

.decisionCreation {
  padding-bottom: 0.5em;
}

.panel {
  padding: 10px;
}

.row {
  padding: 1em;
}

.form-control-label:after {
  content:"*";
  color:red;
}

.pickers {
  display: inline !important;
}

.decisions-composer textarea {
  resize: none;
}

.private-data {
  margin-top:1.8em;
}

.badge{
  font-size:0.9em;
}

.legislationConsider {
  display: inline-block;
}

.dvgColor {
  color: #237885;
}