
/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*technorati.com */
	div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
	}
	
	div.pagination a {
		border: 1px solid #ccc;
		margin-right:3px;
		padding:2px 6px;

		background-position:bottom;
		text-decoration: none;
		font-weight:bold;

		color: rgb(66,97,222);
	}
	div.pagination a:hover, div.pagination a:active {
		background-image:none;
		background-color:#4261DF;
		color: #fff;
	}
	div.pagination span.current {
		margin-right:3px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #000;
	}
	div.pagination span.disabled {
		display:none;
	}